<h1>Aqui podras ver todos los locales que tenemos para tus citas:</h1>
<p>No olvides preguntar por descuentos al hacer citas a traves de nuestra aplicación.</p>

<h1>Locales</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Comuna</th>
      <th>Descripcion</th>
      <th colspan="3"> Acciones </th>
    </tr>
  </thead>

  <tbody>
    <% @locales.each do |local| %>
      <tr>
        <% if local.aceptado %>
            <td><%= local.nombre %></td>
            <td><%= local.commune.nombre %></td>
            <td><%= local.descripcion %></td>
            <td><%= link_to 'Ver detalles', local_path(local.id) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>