<h2>¿Qué deseas administrar?</h2>

<ul>
    <li> <%= link_to 'Comunas', comunas_path %></li>
    <li> <%= link_to 'Gustos', gustos_path%>
    <li> Locales </li>
    <li> Usuarios </li>
    <li> Comentarios </li>
    <li> Aceptar Locales </li>
</ul>