<h2>¿Qué deseas administrar?</h2>

<ul>
    <li> <%= link_to 'Comunas', comunas_path %></li>
    <li> <%= link_to 'Gustos', gustos_path%>
    <li> Locales </li>
    <li> <%= link_to 'Usuarios', usuarios_path %></li>
    <li> Comentarios </li>
    <li> <%= link_to 'Aceptar Locales', aceptar_locales_path%> </li>
</ul>