<h1>Locales Aceptados</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th colspan="3"> Acciones </th>
    </tr>
  </thead>

  <tbody>
    <% @locales.each do |local| %>
      <tr>
        <td><%= local.nombre %></td>
        <td><%= local.descripcion %></td>
        <td><%= link_to 'Eliminar Local', "administrar_locales/#{local.id}",  method: :delete, alert: '¿Estas seguro?' %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Volver al Panel', admin_path%>