<div class="container">
<h1 class="title is-5 has-text-white">Locales Aceptados</h1>

<hr>
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th colspan="3"> Acciones </th>
    </tr>
  </thead>

  <tbody>
    <% @locales.each do |local| %>
      <tr>
        <td><%= local.nombre %></td>
        <td><%= local.descripcion %></td>
        <td><%= link_to 'Eliminar Local', "administrar_locales/#{local.id}",  method: :delete, alert: '¿Estas seguro?' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Volver al Panel', admin_path, style: "color:white"%>
</div>