<h1 style="text-align:center"> Match & Meat </h1>

<hr>
<table style="table-layout: fixed; width: 100%">
    <th>
        <td> <%= link_to 'Inicio', root_path%> </td>
        <td> Locales </td>
        <td> Match </td>
        <td> Mi Perfil </td>
        <td> Iniciar Sesion </td>
        <td> Registrarse </td>
        <td> Administrar </td>
    </th>
</table>
<hr>
